<Project>
	<PropertyGroup>
		<PackageVersion></PackageVersion>
		<AssemblyVersion></AssemblyVersion>
		<FileVersion></FileVersion>
		<InformationalVersion></InformationalVersion>
	</PropertyGroup>
</Project>
